[submodule "mobile"]
	path = mobile
	url = https://github.com/SeGo-vn/sego-mobile.git
[submodule "be"]
	path = be
	url = https://github.com/SeGo-vn/sego-be.git
[submodule "fe"]
	path = fe
	url = https://github.com/SeGo-vn/sego-fe.git
[submodule "robot"]
	path = robot
	url = https://github.com/SeGo-vn/sego-robot-stm32-blue-pill.git
